# IDE and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#
# === Frontend (Node.js) ===
#
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

#
# === Backend (Python) ===
#
# Environment variables - VERY IMPORTANT
.env

# Virtual environment
venv/
/venv/

# Python cache
__pycache__/
*.pyc